.add-button {
  max-width: 150px;
  max-height: 50px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  transition: opacity 0.3s;
  padding: 14px 64px;
  cursor: pointer;

}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .add-button {
    width: 100%;
    max-width: 282px;
    padding: 17px 133px;
  }
}
