.popup-form__input-error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  max-height: 164px;
  display: none;
  margin-bottom: 13px;
}

.popup-form__input-error:last-of-type {
  margin-bottom: 0;
}
