.image-popup__close-btn {
  background: transparent url(../../../images/popup-close-btn.svg);
  background-position: center;
  background-size: contain;
  border: none;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.image-popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 689px) {
  .image-popup__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
