.popup-form__input-error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  height: 30px;
  display: none;
}

.popup-form__input-error:last-of-type {
  margin-bottom: -30px;
}
